<div class="row flex-column-reverse flex-md-row">
    <div class="col-md-9">
        <!--============ Section Title===================================================================-->
        <div class="section-title clearfix">
            <div class="float-left float-xs-none">
                <label class="mr-3 align-text-bottom">Sort by: </label>
                <select name="sorting" id="sorting" class="small width-200px" data-placeholder="Default Sorting" >
                    <option value="">Default Sorting</option>
                    <option value="1">Newest First</option>
                    <option value="2">Oldest First</option>
                    <option value="3">Lowest Price First</option>
                    <option value="4">Highest Price First</option>
                </select>

            </div>
            <div class="float-right float-xs-none d-xs-none thumbnail-toggle">
                <a href="#" class="change-class" data-change-from-class="list" data-change-to-class="grid" data-parent-class="items">
                    <i class="fa fa-th"></i>
                </a>
                <a href="#" class="change-class active" data-change-from-class="grid" data-change-to-class="list" data-parent-class="items">
                    <i class="fa fa-th-list"></i>
                </a>
            </div>
        </div>
        <div class="items list compact grid-xl-3-items grid-lg-3-items grid-md-2-items">
            {{#each hbsObject.eventInfo}}
    <div class="item">
        <div class="wrapper">
            <div class="image">
                <h3>
                    <a class="tag category">{{this.category}}</a>
                    <a class="title">{{upperCase this.title}}</a>
                </h3>
                <a class="image-wrapper background-image">
                    <img src="{{imagePath this.category}}" alt="">
                </a>
            </div>
            <!--end image-->
            <h4 class="location">
                <a href="#">{{this.location}}</a>
            </h4>
            <div class="meta">
                <figure>
                    <i class="fa fa-calendar-o"></i>{{formatDateForEvents this.date}}
                </figure>
            </div>
            <!--end meta-->
            <div class="description">
                <p>{{upperCase this.description}}</p>
            </div>
            <!--end description-->
        </div>
    </div>
    {{/each}}
        </div>
    </div>
    <div class="col-md-3">
        <!--============ Side Bar ===============================================================-->
        <aside class="sidebar">
            <section>
                <h2>Post an Event</h2>
                <!--============ Side Bar Search Form ===========================================-->
                {{>eventForm}}
                <!--============ End Side Bar Search Form =======================================-->
            </section>
        </aside>
        <!--============ End Side Bar ===========================================================-->
    </div>
    <!--end col-md-3-->
</div>
<!--end row-->

