<div class="section-title clearfix">
    <div class="float-left float-xs-none">
        <label class="mr-3 align-text-bottom">Sort: </label>
        <label class="mr-3 align-text-bottom">Filter by Category: </label>
                <select name="sorting" id="sorting" class="small width-200px" data-placeholder="All" >
                    <option value="">All</option>
                    <option value="/">All</option>
                    <option value="/class">Class</option>
                    <option value="/community">Community</option>
                    <option value="/fitness">Fitness</option>
                    <option value="/sell">Sell</option>
                    <option value="/social">Social</option>
                    <option value="/sports">Sports</option>
                    <option value="/other">Other</option>
                </select>
    </div>
</div>
<div class="items list grid-xl-4-items grid-lg-3-items grid-md-2-items">
    {{#each hbsObject.eventInfo}}
    <div class="item">
        <div class="wrapper">
            <div class="image">
                <h3>
                    <a href="./{{this.cateogory}}" class="tag category">{{this.category}}</a>
                    <a class="title">{{upperCase this.title}}</a>
                </h3>
                <a class="image-wrapper background-image">
                    <img src="{{imagePath this.category}}" alt="">
                </a>
            </div>
            <!--end image-->
            <h4 class="location">
                <a>{{this.location}}</a>
            </h4>
            <div class="meta">
                <figure>
                    <i class="fa fa-calendar-o"></i>{{formatDateForEvents this.date}}
                </figure>
            </div>
            <!--end meta-->
            <div class="description">
                <p>{{upperCase this.description}}</p>
            </div>
            <!--end description-->
        </div>
    </div>
    {{/each}}
</div>